nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 58px;
    z-index: 1;

    .nav-item {
        color: white;
        font-weight: 400;
        margin-bottom: 0;
    }

    .header-button {
        border-radius: 99999px;
        background-color: white;
        border: none;
        color: #4FA1FA;
        font-weight: 600;
        padding: 1rem;
        width: fit-content;
        font-size: .9rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:active {
            transform: scale(.9);
        }

        &:hover:not(:active) {
            transform: scale(1.1);
        }
    }
}